<h1 id="portfolio">Portfolio</h1>
<div class="container">
<center>
  <!-- <ul>
    <% @lists.each do |list| %>
       <a href="<%=list_path(list)%>"><img class="img-fluid" src="<%= list.image %>" /></a>
    <% end %>
  </ul> -->

<!-- <h3 id="portfolio">Projects with most comments</h3>

  <ul>
    <% @lists.most_tasks_ascending.each do |list| %>
       <a href="<%=list_path(list)%>"><img class="img-fluid" src="<%= list.image %>" /></a>
    <% end %>
  </ul> -->

<!-- <h3 id="portfolio">Projects names sorted by id</h3>

  <ul>
    <% @lists.id_sort.each do |list| %>
       <a href="<%=list_path(list)%>"><img class="img-fluid" src="<%= list.image %>" /></a>
    <% end %>
  </ul> -->



  <h3 id="portfolio">Projects names sorted alphabetically</h3>
    <ul>
      <% @alphaSort.each do |list| %>
        <a href="<%=list_path(list)%>"><img class="img-fluid" src="<%= list.image %>" /></a>
      <% end %>
  </ul>

</center>
</div>
