<% content_for(:title, "Product | To Do") %>
<div class="container">

  <p class="center"><%= link_to "Return to products", products_path %></p>

  <h1><%= @product.name %></h1>
  <h3>$<%= @product.cost %></h3>
  <center><img src="<%= @product.image %>" /></center>
  <p class="center">Made in: <%= @product.countryoforigin %> </p>



  <% if @product.reviews.any? %>
    <h3>Reviews: </h3>
    <div class="center">
      <p><%= link_to "Add a review", new_product_review_path(@product) %> | <%= link_to "Edit Product", edit_product_url %> | <%= link_to "Delete Product", product_path(@product),
                                :data => {:confirm => "You sure?",
                                          :method => "delete"} %></p>
    </div>

      <% @product.reviews.each do |review| %>
        <p>
          <%= review.author %>
        <% review.rating.times do %>&#9734;<%end%><br>
          <%= review.content_body %><br>
          <%= link_to "Edit", edit_product_review_path(@product, review) %> |
          <%= link_to "Delete", product_review_path(@product, review),
                                    :data => {:confirm => "Are you sure?",
                                                  :method => "delete"} %>
          </p>
      <% end %>

  <% else %>
    <p>There are no reviews yet!</p>
  <% end %>



  <p class="center"><%= link_to "Return to products", products_path %></p>
</div>
